body{
    margin:0px;
    background-color: aqua;
}
nav{
    background-color: aliceblue;
    height: 50px;
    width:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
nav> a{
 text-decoration: none;
 font-weight:bold;
}
/* Products */
/* Index */
.productsContainer
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}
.product{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 320px;
    background-color: aliceblue;
    border: solid black 2px;
    border-radius: 10%;
    padding: 15px;
    justify-content: space-around;
}
.product> img{
    border-radius: 10%;
}