body{
    margin:0px;
    background-color:aliceblue;
}
nav{
    background-color:indigo;
    
    height: 50px;
    width:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border: solid rgb(57, 1, 98) 2px;
}
nav> a{
 text-decoration: none;
 font-weight:bold;
 color: aliceblue;
}
nav> a:hover{
filter: brightness(85%);
}
/* Products */
/* Index */
.productsContainer
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}
.product{
    display: flex;
    flex-direction: column;
    min-height: 320px;
    width: 320px;
    background-color: aliceblue;
    border: solid black 2px;
    border-radius: 10%;
    padding: 15px;
    justify-content: space-around;
}
.product:hover {
    transform: translateY(-5px);
    filter: brightness(90%);
    background-color: rgb(221, 221, 255);
}
.product:hover> .description , .product:hover>.productSupplier{
   display: initial;
}

.product> img{
    border-radius: 10%;
}
.productLink{
    text-decoration: none;
    color: black;
}
.productName{
    margin: 5px 0;
}
#productsTitle{
    text-align: center;
}
#productAddBtn{
    
    margin: 10px 0 0 10px;
    background-color: indigo;
    color: aliceblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: xx-large;
    border: 2px solid rgb(57, 1, 98);
}
#productAddBtn:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.description, .productSupplier{
    display: none;
}



/* Show */
